[Desktop Entry]
Encoding=UTF-8
Name=Install OpenIndiana
Name[de]=Installieren von OpenIndiana
Name[es]=Instalar OpenIndiana
Name[fr]=Installer OpenIndiana
Name[it]=Installa OpenIndiana
Name[he]=התקן את OpenIndiana
Name[ja]=OpenIndiana をインストールする
Name[ko]=OpenIndiana 설치
Name[pt_BR]=Instalar OpenIndiana
Name[ru]=Установить OpenIndiana
Name[sk]=Inštalovať OpenIndiana
Name[sv]=Installera OpenIndiana
Name[zh_CN]=安装 OpenIndiana
Name[zh_HK]=安裝 OpenIndiana
Name[zh_TW]=安裝 OpenIndiana
Type=Application
Terminal=true
Exec=/usr/bin/sudo /usr/bin/text-install
StartupNotify=true
Icon=system-software-install
GenericName=Install OpenIndiana to disk
GenericName[de]=Installieren von OpenIndiana auf Datenträger
GenericName[es]=Instalar OpenIndiana en disco
GenericName[fr]=Installer OpenIndiana sur le disque
GenericName[he]=התקן את OpenIndiana לדיסק
GenericName[it]=Installa OpenIndiana sul disco
GenericName[ja]=OpenIndiana をディスクにインストールする
GenericName[ko]=OpenIndiana를 디스크에 설치
GenericName[pt_BR]=Instalar OpenIndiana no disco
GenericName[ru]=Установить OpenIndiana на диск
GenericName[sk]=Inštalovať OpenIndiana na disk
GenericName[sv]=Installera OpenIndiana på disk
GenericName[zh_CN]=将 OpenIndiana 安装到磁盘
GenericName[zh_HK]=將 OpenIndiana 安裝至磁碟
GenericName[zh_TW]=將 OpenIndiana 安裝至磁碟
Comment=
Categories=Applications;System
